{% load static %}
<!DOCTYPE html>
<html lang="RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Гани Ныгметов</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container">
                    <img src="img/Vector.png" alt="Energo University">            <nav class="main-nav">
                <ul>
                    <li><a href="#">Университет</a></li>
                    <li><a href="#">Поступающим</a></li>
                    <li><a href="#">Студентам</a></li>
                    <li><a href="#">Контакты</a></li>
  
                </ul>
            </nav>
        <div class="right-site">
            <input type="text" placeholder="Поиск по сайту">
            
        </div>
        <div class="lang-switch">RU | ENG </div>
        </div> 
    </header>

    <section class="person-header">
        <div class="container">
            <div class="info">
                <p class="tag">Ректор</p>
                <h1 class="full-name">Гани Сактаганович Ныгыметов</h1>
                <p class="position">Руководство университета</p>
            </div>
            <div class="photo">
                <img src="img/image.png" alt="Фото ректора" />
            </div>
        </div>
    </section>
    <section class="rich-text">
        <div class="container">
            <p>Гани Ныгыметов родился в 1983 году в Актюбинской области. Окончил Евразийский национальный университет имени Л.Гумилева (специалист в области международных отношений), Монтерейский институт международных исследований в США (магистр государственного управления), а также Высшую школу бизнеса Назарбаев Университета (магистр делового администрирования). Проходил курсы повышения квалификации для руководителей в Школе управления имени Кеннеди Гарвардского университета, Национальном университете Сингапура.</p>
        </div>
    </section>
    
    
    <section class="career">
        <div class="container">
            <h2>Трудовой путь</h2>
            <p>Трудовой путь начал стажером в штаб-квартире Программы развития ООН в Нью-Йорке.</p>
            <p>В 2007-2009 годах - менеджер проекта департамента государственного управления АО «Национальный аналитический центр при Правительстве и Национальном банке РК».</p>
            <p>В 2010-2013 годах - директор департамента международного сотрудничества Назарбаев Университета, заместитель генерального директора Центра энергетических исследований Назарбаев Университета.</p>
            <p>С 2013 по 2016 год - президент АО «Центр международных программ» Министерства образования и науки РК.</p>
            <p>В 2016-2018 годах работал исполнительным директором ТОО «Центр стратегических инициатив», директором ТОО «Институт евразийской интеграции».</p>
            <p>С 2018 года по май 2020 года — заместитель заведующего, заведующий отделом внутренней политики Администрации Президента Республики Казахстан.</p>
            <p>В 2020-2022 годах занимал должность заместителя акима Северо-Казахстанской области.</p>
            <p>В 2022 году назначался Государственным инспектором Администрации Президента Республики Казахстан.</p>
            <p>С января 2023 года работал заместителем Руководителя Аппарата Сената Парламента Республики Казахстан.</p>
            <p>С апреля 2024 года является ректором Алматинского университета энергетики и связи.</p>
        </div>
    </section>
    <section class="newsletter">
        <div class="container">
            <div class="newsletter-box">
                <div class="text">
                    <h3>Подпишитесь на нашу рассылку</h3>
                    <p>Будьте в курсе новостей и событий с нашей ежемесячной электронной рассылкой. Подпишитесь, чтобы ничего не пропустить.</p>
                </div>
                <form class="subscribe-form">
                    <input type="email" placeholder="Введите ваш e-mail" />
                    <button type="submit">Подписаться</button>
                </form>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer-columns">
                <div class="footer-logo">
                    <img src="img/Vector.png" alt="Energo University" />
                    <p>Ценим прошлое, строим будущее </p>
                </div>
                <div class="footer-links">
                    <div>
                        <h4>О нас</h4>
                        <ul>
                            <li><a href="#">История</a></li>
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">Вакансий</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4>Образование</h4>
                        <ul>
                            <li><a href="#">Программы обучения</a></li>
                            <li><a href="#">Факультеты и кафедры</a></li>
                            <li><a href="#">Исследования</a></li>
                            <li><a href="#">Поступление</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4>Ресурсы</h4>
                        <ul>
                            <li><a href="#">Библиотека</a></li>
                            <li><a href="#">Центр помощи</a></li>
                            <li><a href="#">Партнеры</a></li>
                            <li><a href="#">Студенческая жизнь</a></li>
                            <li><a href="#">ЦОС</a></li>

                        </ul>
                    </div>
                    <div>
                        <h4>Правовая информация</h4>
                        <ul>
                            <li><a href="#">Условия использования</a></li>
                            <li><a href="#">Политика конфиденциальности</a></li>
                            <li><a href="#">Политика куки</a></li>
                            <li><a href="#">Лицензии</a></li>
                            <li><a href="#">Логотипы</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>© 2024 Energo University. Все права защищены.</p>
            </div>
        </div>
    </footer>
</body>
</html>