<button type="submit">Подписаться</button>
                </form>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer-columns">
                <div class="footer-logo">
                    <img src="C:/Users/User/Desktop/todo_list/base/templates\base\static\img\Vector.png" alt="Energo University" />
                    <p>Ценим прошлое, строим будущее </p>
                </div>
                <div class="footer-links">
                    <div>
                        <h4>О нас</h4>
                        <ul>
                            <li><a href="#">История</a></li>
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">Вакансий</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4>Образование</h4>
                        <ul>
                            <li><a href="#">Программы обучения</a></li>
                            <li><a href="#">Факультеты и кафедры</a></li>
                            <li><a href="#">Исследования</a></li>
                            <li><a href="#">Поступление</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4>Ресурсы</h4>
                        <ul>
                            <li><a href="#">Библиотека</a></li>
                            <li><a href="#">Центр помощи</a></li>
                            <li><a href="#">Партнеры</a></li>
                            <li><a href="#">Студенческая жизнь</a></li>
                            <li><a href="#">ЦОС</a></li>

                        </ul>
                    </div>
                    <div>
                        <h4>Правовая информация</h4>
                        <ul>
                            <li><a href="#">Условия использования</a></li>
                            <li><a href="#">Политика конфиденциальности</a></li>
                            <li><a href="#">Политика куки</a></li>
                            <li><a href="#">Лицензии</a></li>
                            <li><a href="#">Логотипы</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>© 2024 Energo University. Все права защищены.</p>
            </div>
        </div>
    </footer>
</body>
</html>


{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<img src="{% static 'img/Vector.png' %}" alt="Energo University">
